body{
    margin: 0;
background-color: rgb(0,0,0);
display: flex;
justify-content: center;
background-image: url(imgs/game-background.jpg);
   background-size: cover;

}
h1{
    font-size:3rem;
    text-align: center;
}
.left-side{
   margin: 15px;
   /* border: 1px solid gold; */
}
.character{

background-color: antiquewhite;

}
.header{
    margin: 0%;
/* background-color: rgb(0, 0, 0); */
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
height: min-content;
height: auto;
width: 100%;
}
.title{

    color: rgb(185, 148, 54);
    margin: 0%;
}

.main{
       /* display: flex;
   justify-content: space-around;
   flex-wrap: wrap; */
   margin: 15px;
   /* border: 3px solid rgb(196, 66, 66); */
   /* background-color: rgb(0, 0, 0); */
   height: 80vh;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 20%);
   row-gap: 5%;
   column-gap: 6.7%;
   padding: 20px 50px; 
   
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height:150px;  
  width:130px ;
   border-radius: 5px;
   transform-style: preserve-3d;
   transition: all 0.5s ease;
}
.card:hover{
    transform: rotateY(180deg);
}

.front{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
   border: 1px solid gold; 
   background-color: rgb(255, 255, 255);
}
.back{ 
   position: absolute; 
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: 1px solid gold; 
   backface-visibility: hidden;
   background-color: rgb(0, 0, 0);

}