body{
    margin: 0;
background-color: rgb(25, 25, 24);
}
h1{
    font-size:3rem ;
}

.header{
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
height: 12vh;
}
.title{
    display: inline-block;
    color: rgb(255, 232, 31);
}
.main{
    border: 3px solid rgb(196, 66, 66);
   background-color: rgb(0, 0, 0);
   height: 80vh;
   margin: 10px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 30px;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  position: flex;
  justify-content: center;
  height:15vh;  
  width:20vw ;
  background-color: rgb(226, 233, 242);
  background-image: url();
}

img{
    height: 50%;
    max-width: fit-content;
}
.img-back{

}
.img-front{

}