body{
    margin: 0;
background-color: rgb(0,0,0);
display: flex;
justify-content: center;
background-image: url(imgs/game-background.jpg);
   background-size: cover;
}

h1{
    font-size:3rem;
    text-align: center;
    color: rgb(185, 148, 54);

}
.left-side{
   margin: 15px;
}

.controls button{
    
        background-color: rgb(0,0,0);
        border: 1px solid rgb(185, 148, 54);
        font-weight: bolder;
        border-radius: 50%;
        color: rgb(185, 148, 54);
        padding: 20px 24px;
        cursor: pointer; 
        width: 50%; 
        display: block; 
        justify-content: center;
        margin: auto;
      }
      .reset{
          position: relative;
          top: vh;
      }
.sound{
    position: relative;
    top: 5vh;
}
    



.header{
    margin: 0%;
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
height: min-content;
height: auto;
width: 100%;
}
.title{

    color: rgb(185, 148, 54);
    margin: 0%;
}

.main{
   flex-wrap: wrap;
   margin: 15px;
   height: 80vh;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 20%);
   row-gap: 5%;
   column-gap: 6.7%;
   padding: 20px 50px; 
   
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height:160px;  
  width:130px ;
   border-radius: 5px;
   transform-style: preserve-3d;
   transition: all 0.3s ease;
}

.front{
    position: absolute;
    height: 100%;
    width: 100%;
   border-radius: 20px;
   border: 1px solid rgb(119, 109, 33); 
   background-color: rgb(0, 0, 0);
   transform: rotateY(180deg);
}
.back{ 
   position: absolute; 
   height: 100%;
   width: 100%;
   border-radius: 20px;
   border: 1px solid rgb(119, 109, 33); 
   backface-visibility: hidden;
   background-color: rgb(10, 22, 37);

}